@use 'sass:map';
@use 'sass:math';

// $primary: #2493A2;
// $primary-hsl: hsl(187deg 64% 39%);

@function get-hsl-color-scheme($prefix, $hue, $saturation, $lightness) {
  $light-scheme-map: (
    main: hsl($hue, $saturation, $lightness),
    text-1: hsl($hue, $saturation, 10%),
    text-2: hsl($hue, 30%, 30%),
    surface-1: hsl($hue 20% 99%),
    surface-2: hsl($hue 20% 92%),
    surface-3: hsl($hue 25% 90%),
    surface-4: hsl($hue 20% 85%),
    surface-shadow: $hue 10% 20%,
    shadow-strength: .02
  );

  $dark-scheme-map: (
    main: hsl($hue, math.div($saturation, 2), math.div($lightness, 1.5)),
    text-1: hsl($hue 15% 85%),
    text-2: hsl($hue 5% 65%),
    surface-1: hsl($hue 5% 25%),
    surface-2: hsl($hue 5%  20%),
    surface-3: hsl($hue 10% 15%),
    surface-4: hsl($hue 10% 10%),
    surface-shadow: $hue 50% 3%,
    shadow-strength: .8
  );

  @return (
    light: $light-scheme-map,
    dark: $dark-scheme-map
  );
}

$_primary-hue: 200;
$_primary-saturation: 100%;
$_primary-lightness: 50%;

// Get colors by using map.get($scheme, 'primary', 'light')
$scheme: (
  primary: get-hsl-color-scheme('primary', $_primary-hue, $_primary-saturation, $_primary-lightness)
);

$secondary: #DECD97;
$accent: #DCB13C;