.window {
  --window-top: 2rem;
  --window-right: 1.125rem;
  --window-bottom: 4rem;
  --window-left: 1.125rem;

  display: flex;
  height: 100%;
  width: 100%;
  max-width: 75rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-surface-1);
  border-width: var(--window-top) var(--window-right) var(--window-bottom) var(--window-left);
  border-style: solid;
  border-color: var(--color-primary-surface-1);
}

@media only screen and (min-width: 50rem) {
  .window {
    --window-right: 1.875rem;
    --window-left: 1.875rem;
  }
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1rem;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary-surface-2);
  border-radius: 0.5rem;
}