@use 'sass:map';
@use './constants/constants.scss' as constants;

@mixin color-variables($color-type, $theme) {
  $color-scheme: map.get(constants.$color-scheme, $color-type, $theme);

  --color-#{$color-type}: #{map.get($color-scheme, 'main')};
  --color-#{$color-type}-text-1: #{map.get($color-scheme, 'text-1')};
  --color-#{$color-type}-text-2: #{map.get($color-scheme, 'text-2')};

  --color-#{$color-type}-surface-1: #{map.get($color-scheme, 'surface-1')};
  --color-#{$color-type}-surface-2: #{map.get($color-scheme, 'surface-2')};
  --color-#{$color-type}-surface-3: #{map.get($color-scheme, 'surface-3')};
  --color-#{$color-type}-surface-4: #{map.get($color-scheme, 'surface-4')};

  --color-#{$color-type}-surface-shadow: #{map.get($color-scheme, 'surface-shadow')};
  --color-#{$color-type}-shadow-strength: #{map.get($color-scheme, 'shadow-strength')};
}

:root {
  color-scheme: light;

  @include color-variables('primary', 'light');

  --color-secondary: #{constants.$color-secondary};
  --color-accent: #{constants.$color-accent};
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    @include color-variables('primary', 'dark');
  }
}